
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #000000;
    width: 100%;
    height: 100vh;
    /* background-color: #c3c8d1; */
    background-image: url(../Assets/images/fondo2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    /* background-image: linear-gradient(to top, #828fa9, #869fc6, #86b0c6);
     */
    
}

/* Encabezado  */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #020617;
    border-bottom: 5px double #0D9488 ;
    
 


}

.containerHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    position: static;
   
}
header > .containerHeader > h1{
    width: 100%;
    color:  #0ea7d1;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #20130a;
    
}
header > .containerHeader > h2{
    width: 100%;
    color:  #000000;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    
}



#foto{
    z-index: 1;
    top: 10px;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px double  #0E7490;
}
/* informacion */
main{
    width: 100%;
    margin-top: 5cm;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}
.informate{
    width: 80%;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.experience{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: circle; 
    margin-left: 3.5%;
    padding: 0 5px;
    gap: 8px;
    
}
.experience span{
    color: #0D9488;
    
}
.experience > li{
    width: 100%;
    
}
.informate p{
    text-wrap: wrap;

}
.informate h3{
    color: #0D9488;
    font-style: italic;
    font-weight: 200;

}

.informate > .titleInformate{
    background-color: #0c5468;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 7px 0 ;
    width: 80%;
    height: 2rem;
    border-radius: 20px 50px 50px 0;
    position: relative;
    bottom: 10px;
    right: 10px;
    font-style: italic;
    font-weight: 200;
    
}
.informate > .par{
    border-radius: 50px 20px 0 50px;
    position: relative;
    bottom: 10px;
    left: 23.3%;
}
.informate > .length{
    background-color: #0c5468;
    color: white;
    font-size: 1em;
    text-align: center;
    height: 2rem;
    font-style: italic;
    font-weight: 200;
    border-radius: 8px 8px 0 0;
    width: 107%;
    
}

.containerLanguage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.containerLanguage > section  {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
   color: #0D9488;
   font-style: oblique;
   font-weight: 100;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.containerLanguage > section > img  {
   width: 3rem;
}
/* contenedor Referencias */

.containerInfoReferneces{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
    /* background-image: linear-gradient(to right, #828fa9, #869fc6, #86b0c6); */
    

}
.containerReferences{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #020617;
    background-image: linear-gradient(to top, #335a81 , #416faa, #235979);
}
 .titleReferences{
    width: 50%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 2em;
    color: #0ea7d1;
}
.fatherReferences{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
        
}
.containerReferences img{
    width: 40%;
}
.containerReferences >.containerData{
    color: #c5c5c5;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Carrucel */

.fatherHabilidades{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    
}
.fatherHabilidades h2{
    width: 70%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 1.8em;
    color:#0ea7d1 ;
    
}
.carousel {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200px;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel li {
    width: 100%;
    height: 70%;
   display: none;
   animation: transition 0.5s ease-in-out; 

}

  
  @keyframes transition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
progress{
    width: 100%;
   height: 30px;
   accent-color: #071247;

}


.carousel li img {
    width: 100%;
    height: 80%;
    padding: 0 20px;
}

.carousel-nav {
    text-align: center;
    width: 100%;
}

.carousel-nav button {
    background-color: #215283;
    color: #aaaaaa;
    border: 2px solid #0a1755;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
   font-weight: 900;
   
}

.carousel-nav button:hover {
    background-color: #02061783;
}


.carousel li:first-child {
    display: block;
    block-size: 80%;
}

/* estilo proyectos  */

.fatherProyect{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fatherProyect .titlePrinciProyect{
    width: 50%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 1.8em;
     color: #0ea7d1;
    position: relative;
    left:25%;
   
}
.proyect{
    width: 80%;
    height: 140px;
    display: flex; 
    background-color: #020617e7;
    justify-content: space-evenly;
    border-radius: 0 50px 50px 0px;
    align-items: center;
    border-right: 4px solid #132681;
    border-top: 3px  solid #132681;
    border-bottom: 3px  solid #132681;
    padding: 10px 0;
}
.proyectPar{
    flex-direction: row-reverse;
    position: relative;
    margin-left: 20%;
    border-radius:  50px 0px 0px 50px;
    border-right: 0;
    border-left: 4px solid #132681;
    border-top: 3px  solid #132681;
    border-bottom: 3px  solid #132681;
    padding: 0 0 0 15px;
    text-align: right;

}
.proyectInformate{
    width: 50%;
    color: white;
}
.proyect .img_container{
    width: 10+0px;
    height:100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.proyect .img_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.proyectInformate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

}
.proyectInformate h2 {
    color: #0E7490;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
.proyectInformate p {
    width: 100%;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
}
.proyectInformate a {
   color: #0E7490;
}

/* footer */
footer{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: #020617;
    position: absolute;
    margin-top: 170px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

footer ul{
   width: 80%;
   height: 90%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   list-style: none;
}
footer ul li img{
  width: 50px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   cursor: pointer;
   filter:drop-shadow(0 0 6px  #0E7490) ;
}
