
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #000000;
    width: 100%;
    height: 100vh;
    /* background-color: #c3c8d1; */
    background-image: url(../Assets/images/fondo2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    /* background-image: linear-gradient(to top, #828fa9, #869fc6, #86b0c6);
     */
    
}

/* Encabezado  */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #020617;
    border-bottom: 5px double #0D9488 ;
    
 


}

.containerHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    position: static;
   
}
header > .containerHeader > h1{
    width: 100%;
    color:  #0ea7d1;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #20130a;
    
}
header > .containerHeader > h2{
    width: 100%;
    color:  #000000;
    font-style: italic;
    font-size: 1em;
    text-align: center;
    
}



#foto{
    z-index: 1;
    top: 10px;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px double  #0E7490;
}
/* informacion */
main{
    width: 100%;
    margin-top: 5cm;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;


}
.informate{
    width: 80%;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}
.education{
    width: 80%;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 0px 0 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.experience{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: circle; 
    margin-left: 3.5%;
    padding: 0 5px;
    gap: 8px;
    
}
.experience span{
    color: #0D9488;
    
}
.experience > li{
    width: 100%;
    
}
.informate p{
    text-wrap: wrap;

}
.informate h3{
    color: #0D9488;
    font-style: italic;
    font-weight: 200;

}

.informate > .titleInformate{
    background-color: #0c5468;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 7px 0 ;
    width: 80%;
    height: 2rem;
    border-radius: 20px 50px 50px 0;
    position: relative;
    bottom: 10px;
    right: 10px;
    font-style: italic;
    font-weight: 200;
    
}
.informate > .par > h2{
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 7px 0 ;
    width: 80%;
    height: 2rem;
    border-radius: 50px 20px 0px 50px;
    font-style: italic;
    font-weight: 200;
    background-color: #0c5468;

}
.informate > .par {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: flex-end;

}
.fatherLanguage{
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 0 0 10px 0;
    margin: 0;

}
.fatherLanguage  .text{
    background-color: #0c5468;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 7px 0 ;
    width: 80%;
    height: 2rem;
    font-style: italic;
    font-weight: 200;
    width: 100%;
    border-radius: 8px 8px 0 0px;

}

.containerLanguage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.containerLanguage > section  {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
   color: #0D9488;
   font-style: oblique;
   font-weight: 100;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.containerLanguage > section > img  {
   width: 3rem;
}
/* contenedor Referencias */

.containerInfoReferneces{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
    /* background-image: linear-gradient(to right, #828fa9, #869fc6, #86b0c6); */
    

}
.containerReferences{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #020617;
    background-image: linear-gradient(to top, #335a81 , #416faa, #235979);
}
 .titleReferences{
    width: 50%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 2em;
    color: #0ea7d1;
}
.fatherReferences{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
        
}
.containerReferences img{
    width: 40%;
}
.containerReferences >.containerData{
    color: #c5c5c5;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

/* Carrucel */

.fatherHabilidades{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    
}
.fatherHabilidades h2{
    width: 70%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 1.8em;
    color:#0ea7d1 ;
    
}
.carousel {
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 200px;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel li {
    width: 100%;
    height: 70%;
   display: none;
   animation: transition 0.5s ease-in-out; 

}

  
  @keyframes transition {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
progress{
    width: 100%;
   height: 30px;
   accent-color: #071247;

}


.carousel li img {
    width: 100%;
    height: 80%;
    padding: 0 20px;
}

.carousel-nav {
    text-align: center;
    width: 100%;
}

.carousel-nav button {
    background-color: #215283;
    color: #aaaaaa;
    border: 2px solid #0a1755;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
   font-weight: 900;
   
}

.carousel-nav button:hover {
    background-color: #02061783;
}


.carousel li:first-child {
    display: block;
    block-size: 80%;
}

/* estilo proyectos  */

.fatherProyect{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fatherProyect .titlePrinciProyect{
    width: 50%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 1.8em;
     color: #0ea7d1;
    position: relative;
    left:25%;
   
}
.proyect{
    width: 80%;
    height: 140px;
    display: flex; 
    background-color: #020617e7;
    justify-content: space-evenly;
    border-radius: 0 50px 50px 0px;
    align-items: center;
    border-right: 4px solid #132681;
    border-top: 3px  solid #132681;
    border-bottom: 3px  solid #132681;
    padding: 10px 0;
}
.proyectPar{
    flex-direction: row-reverse;
    position: relative;
    margin-left: 20%;
    border-radius:  50px 0px 0px 50px;
    border-right: 0;
    border-left: 4px solid #132681;
    border-top: 3px  solid #132681;
    border-bottom: 3px  solid #132681;
    padding: 0 0 0 15px;
    text-align: right;

}
.proyectInformate{
    width: 50%;
    color: white;
}
.proyect .img_container{
    width: 10+0px;
    height:100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.proyect .img_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.proyectInformate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

}
.proyectInformate h2 {
    color: #0E7490;
    font-family:'Times New Roman', Times, serif;
    font-style:italic;
}
.proyectInformate p {
    width: 100%;
   font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: 14px;
}
.proyectInformate a {
   color: #0E7490;
}

/* footer */
.oneFooter{
    width: 100%;
    height: 110px;
    display: flex;
    flex-direction: column;
    background-color: #020617;
    position: absolute;
    margin-top: 170px;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.oneFooter ul{
   width: 80%;
   height: 90%;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   list-style: none;
}
.oneFooter ul li img{
  width: 50px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   cursor: pointer;
   filter:drop-shadow(0 0 6px  #0E7490) ;
}

/* media query dispostivos tablet */
@media screen and (min-width:0px) and (max-width:1354px ){
    .headerInformate, .footerHeader, .headerLanguage{
        display: none;
    }
}
 @media screen and (min-width:710px) and (max-width:818px ){
    
    header{
        height: 200px;
    }   
    .containerReferences{
        height: 250px;
    }
    
.containerHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    justify-content: space-evenly;
    position: static;
    margin-top: 80px;
   
}
header > .containerHeader > h1{
    width: 100%;
    color:  #0ea7d1;
    font-style: italic;
    font-size: 30px;
    text-align: center;
    border-bottom: 1px solid #20130a;
    
}
header > .containerHeader > h2{
    width: 100%;
    height:20%;
    color:  #000000;
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
    
}



#foto{
    z-index: 1;
    top: 10px;
    position: relative;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 3px double  #0E7490;
}
.containerInfoReferneces{
    width: 90%;
}
} 

@media screen and (min-width:819px) and (max-width:1354px ){
    
    header{
        height: 200px;
    }   
  
    .containerHeader{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 350px;
        justify-content: space-evenly;
        position: static;
        margin-top: 80px;
    
    }
    header > .containerHeader > h1{
        width: 100%;
        color:  #0ea7d1;
        font-style: italic;
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid #20130a;
        
    }
    header > .containerHeader > h2{
        width: 100%;
        height:20%;
        color:  #000000;
        font-style: italic;
        font-size: 1.1em;
        text-align: center;
        
    }
    #foto{
        z-index: 1;
        top: 10px;
        position: relative;
        width: 160px;
        height: 160px;
        border-radius: 50%;
        border: 3px double  #0E7490;
    }
    .fatherProyect{
        margin-top: 55px;
    }
    .containerInfoReferneces{
        width: 100%;
    }
        /* .containerInfoReferneces,.fatherProyect,.fatherHabilidades{
        margin-top: 20px;
    } */
    .containerReferences{
        height: 310px;
        width: 45%;
        font-size: 1.1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .containerReferences img{
        width: 170px;
    }
    main{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        width:100%;
        gap:40px 30px;
        
    }
    .informate{
        width: 45%;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .informate > .position:first-child{
       position: relative;
       bottom: 9.5%;
    }
    .informate >.position:nth-last-child(2) {
        position: relative;
        bottom: 13%;
      }
    .headerInformate{
        display: none;
    }
    .containerLanguage{
        width: 100%;
        height: 100%;
    }
    .containerLanguage section img{
        width: 90px;
    }


    .education p{
        width:100%;
    }
}
@media screen and (min-width:1355px) and (max-width:1499px ){
    body{
        display: flex;
        align-items: center;
        width: 96%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    
    }
    header{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: none;
        border-right:5px double #0D9488 ;
        gap: 40px;
    }   
 
.containerHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    position: static;
    margin-top: 0px;
    justify-content: space-around;
   
}
header > .containerHeader > h1{
    width: 100%;
    color:  #0ea7d1;
    font-style: italic;
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 2px solid #888888;
    
}
header > .containerHeader > h2{
    width: 100%;
    height:20%;
    color:  #999999;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
    
}

.headerLanguage{
    width: 100%;
    display: flex;
    align-items: center;
}
.headerLanguage section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headerLanguage img{
    width:60px;
    height: 10%;
    display: flex;
    flex-direction: column;
}


#foto{
    z-index: 1;
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 4px double  #0E7490;
}
header .headerInformate{
    width: 90%;
    height: 20%;
    padding: 0;
    border-radius: 0;
    border: none;
    display: flex;
    border-top: solid rgb(97, 97, 97);
    justify-content:center;
}
header .headerInformate .titleInformateHeader{
  width: 50%;
  background-color:#020617;
  border-radius: 0;
  text-align: center;
  border: solid #0c5468;
  position: relative;
  left: 26%;
  bottom: 18px;

}
 .headerInformate p{
    font-size: 1rem;
    padding: 8px;
 }
 .fatherLanguage{
    display: flex;

}
.footerHeader{
    width: 90%;
    height:12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: solid rgb(100, 100, 100);
}
.footerHeader h3{
    width: 50%;
    color: white;
  background-color:#020617;
  border-radius: 0;
  text-align: center;
  position: relative;
  bottom: 10%;
  border: solid #0c5468;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerHeader ul{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.footerHeader ul li a img{
  width: 50px;
  cursor: pointer;
  filter:drop-shadow(0 0 6px  #0E7490) ;
}

/* Cuerpo Pagina */
main{
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0;


}
.informate{
    width: 50%;
    height: 300px;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}
.intro{
    display: none;
}

.education{
    width: 40%;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 0px 0 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.experience{
    width: 100%;
    font-size: 1.35em;
}


.informate > .titleInformate{
    font-size: 1.4em;
    padding: 3px 0 ;
    height: 2rem;
    
    
}
.informate > .par > h2{
    font-size: 1.3em;
    padding: 1.5px 0 ;

}



/* contenedor Referencias */

.containerInfoReferneces{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-content: stretch;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
.containerReferences{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 130px;

}
 .titleReferences{
     font-size: 2.2em;
}
.fatherReferences{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
        
}
.containerReferences img{
    width: 30%;
}
.containerReferences >.containerData{
    width: 100%;
    color: #c5c5c5;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
}
.fatherLanguage{
    display: none;
}
/* estilo proyectos  */

.fatherProyect{
    width: 45%;
    padding: 0;
    
}
.fatherProyect .titlePrinciProyect{
    width: 60%;
     font-size: 2em;
     color: #0ea7d1;
   
}
.proyect{
    width: 100%;
    height: 140px;
    display: flex; 
    justify-content: space-evenly;
    border-radius: 10px ;
    align-items: center;
    border: 4px solid #132681;
    gap: 20px;
}
.proyectPar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 0%;
    border-radius:  10px;
    border: 4px solid #132681;
    text-align: left;

}
.proyectInformate{
    width: 60%;
    color: white;
}
.proyect .img_container{
    width: 100px;
    height:100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.proyect .img_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.proyectInformate {
    gap: 5px;

}
.proyectInformate a {
    font-weight: bold;    

}

.proyectInformate p {
   font-size: 17px;
}
/* Carrucel */

.fatherHabilidades{
    display: flex;
    height: 13rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center
}
.fatherHabilidades .titleHabilidades{
  display: none;
}
.containerHabilidades{
    display: flex;
    width: 100%;
    height: 10rem;
}
.containerHabilidades .carousel{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 60%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 25%;
    right: 8%;
}
.containerHabilidades .carousel li {
width: 40%;
}
.containerHabilidades .carousel li img{
width: 190px;
height: 165px;
}
button{
    width: 80px;
    height: 80px;
    margin: 0px 5px;
}
.carousel-nav{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items:flex-end;
}
.oneFooter{
    display: none;
}
}

/* pantallas grandes */
@media screen and (min-width:1840px) and (max-width:2000px ){
    body{
        display: flex;
        align-items: center;
        width: 96%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    
    }
    header{
        width: 30%;
        height: 110%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: none;
        border-right:5px double #0D9488 ;
        gap: 40px;
    }   

}
@media screen and (min-width:1500px) and (max-width:2000px ){
    body{
        display: flex;
        align-items: center;
        width: 96%;
        height: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: space-between;
    
    }
    header{
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: none;
        border-right:5px double #0D9488 ;
        gap: 40px;
    }   
 
.containerHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 350px;
    position: static;
    margin-top: 0px;
    justify-content: space-around;
   
}
header > .containerHeader > h1{
    width: 100%;
    color:  #0ea7d1;
    font-style: italic;
    font-size: 1.8rem;
    text-align: center;
    border-bottom: 2px solid #888888;
    
}
header > .containerHeader > h2{
    width: 100%;
    height:20%;
    color:  #999999;
    font-style: italic;
    font-size: 1.2em;
    text-align: center;
    
}

.headerLanguage{
    width: 100%;
    display: flex;
    align-items: center;
}
.headerLanguage section{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headerLanguage img{
    width:60px;
    height: 10%;
    display: flex;
    flex-direction: column;
}


#foto{
    z-index: 1;
    position: relative;
    width: 190px;
    height: 190px;
    border-radius: 50%;
    border: 4px double  #0E7490;
}
header .headerInformate{
    width: 90%;
    height: 20%;
    padding: 0;
    border-radius: 0;
    border: none;
    display: flex;
    border-top: solid rgb(97, 97, 97);
    justify-content:center;
}
header .headerInformate .titleInformateHeader{
  width: 50%;
  background-color:#020617;
  border-radius: 0;
  text-align: center;
  border: solid #0c5468;
  position: relative;
  left: 26%;
  bottom: 18px;

}
 .headerInformate p{
    font-size: 1rem;
    padding: 8px;
 }
 .fatherLanguage{
    display: flex;

}
.footerHeader{
    width: 90%;
    height:12rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-top: solid rgb(100, 100, 100);
}
.footerHeader h3{
    width: 50%;
    color: white;
  background-color:#020617;
  border-radius: 0;
  text-align: center;
  position: relative;
  bottom: 10%;
  border: solid #0c5468;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.footerHeader ul{
    width: 100%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

.footerHeader ul li a img{
  width: 50px;
  cursor: pointer;
  filter:drop-shadow(0 0 6px  #0E7490) ;
}

/* Cuerpo Pagina */
main{
    width: 65%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 100%;
    margin: 0;


}
.informate{
    width: 50%;
    height: 300px;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}
.intro{
    display: none;
}

.education{
    width: 40%;
    background-color: #020617e3;
    border-radius: 10px;
    border: 2px solid #132681;
    color: rgb(255, 255, 255);
    padding: 0px 0 10px 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.experience{
    width: 100%;
    font-size: 1.5em;
}


.informate > .titleInformate{
    font-size: 1.4em;
    padding: 3px 0 ;
    height: 2rem;
    
    
}
.informate > .par > h2{
    font-size: 1.3em;
    padding: 1.5px 0 ;

}



/* contenedor Referencias */

.containerInfoReferneces{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-content: stretch;
    align-items: center;
    justify-content:center;
    gap: 20px;
}
.containerReferences{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 130px;

}
 .titleReferences{
     font-size: 2.2em;
}
.fatherReferences{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 1.2em;
        
}
.containerReferences img{
    width: 30%;
}
.containerReferences >.containerData{
    width: 100%;
    color: #c5c5c5;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    
}
.fatherLanguage{
    display: none;
}
/* estilo proyectos  */

.fatherProyect{
    width: 45%;
    padding: 0;
    
}
.fatherProyect .titlePrinciProyect{
    width: 60%;
     font-size: 2em;
     color: #0ea7d1;
   
}
.proyect{
    width: 100%;
    height: 140px;
    display: flex; 
    justify-content: space-evenly;
    border-radius: 10px ;
    align-items: center;
    border: 4px solid #132681;
    gap: 20px;
}
.proyectPar{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    margin-left: 0%;
    border-radius:  10px;
    border: 4px solid #132681;
    text-align: left;

}
.proyectInformate{
    width: 60%;
    color: white;
}
.proyect .img_container{
    width: 100px;
    height:100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.proyect .img_container img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.proyectInformate {
    gap: 5px;

}
.proyectInformate a {
    font-weight: bold;    

}

.proyectInformate p {
   font-size: 17px;
}
@media screen {
    @media (min-width:1800px) and (max-width:2000px ) {
        .experience {
            width: 80%;
            align-items: start;
        }
        .education{
            font-size: 1.3rem;
        }
        .headerInformate p{
            font-size: 1.1rem;
        }
    }
    
}
/* Carrucel */

.fatherHabilidades{
    display: flex;
    height: 13rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center
}
.fatherHabilidades .titleHabilidades{
  display: none;
}
.containerHabilidades{
    display: flex;
    width: 100%;
    height: 10rem;
}
.containerHabilidades .carousel{
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 60%;
    height: 240px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 25%;
    right: 8%;
 
}
.containerHabilidades .carousel li {
    width: 30%;
}
.containerHabilidades .carousel li img{
width: 190px;
height: 165px;
}
button{
    width: 80px;
    height: 80px;
    margin: 0px 5px;
}
.carousel-nav{
    display: flex;
    justify-content: center;
    width: 50%;
    align-items:flex-end;
}
.oneFooter{
    display: none;
}

}
