
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: #000000;
    width: 100%;
    height: 100vh;
    background-color: #94A3B8;
    
    
}

/* Encabezado  */
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    background-color: #020617;
    border-bottom: 5px double #0D9488 ;
    
 


}

.containerHeader{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 250px;
    justify-content: space-evenly;
    position: static;
   
}
header > .containerHeader > h1{
    width: 100%;
    color:  #0E7490;
    font-style: italic;
    font-size: 26px;
    text-align: center;
    border-bottom: 1px solid #20130a;
    
}
header > .containerHeader > h2{
    width: 100%;
    color:  #020617;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    
}



#foto{
    z-index: 1;
    top: 10px;
    position: relative;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px double  #0E7490;
}
/* informacion */
main{
    width: 100%;
    margin-top: 5cm;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;


}
.informate{
    width: 80%;
    background-color: #020617b9;
    border-radius: 10px;
    border: 2px solid #0D9488;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-style: oblique;
    display: flex;
    flex-direction: column;
    gap: 8px;
   
}

.experience{
    width: 100%;
    display: flex;
    flex-direction: column;
    list-style-type: circle; 
    margin-left: 3.5%;
    padding: 0 5px;
    gap: 8px;
    
}
.experience span{
    color: #0D9488;
    
}
.experience > li{
    width: 100%;
    
}
.informate p{
    text-wrap: wrap;

}
.informate h3{
    color: #0D9488;
    font-style: italic;
    font-weight: 200;

}

.informate > .titleInformate{
    background-color: #0E7490;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 7px 0 ;
    width: 80%;
    height: 2rem;
    border-radius: 10px 50px 50px 0;
    position: relative;
    bottom: 10px;
    right: 10px;
    font-style: italic;
    font-weight: 200;
    
}
.informate > .par{
    background-color: #0E7490;
    color: white;
    font-size: 1em;
    text-align: center;
    padding: 7px 0 ;
    width: 80%;
    height: 2rem;
    border-radius: 50px 20px 0 50px;
    position: relative;
    bottom: 10px;
    left: 23.3%;
    font-style: italic;
    font-weight: 200;
    
}
.informate > .length{
    background-color: #0E7490;
    color: white;
    font-size: 1em;
    text-align: center;
    min-width: 107%;
    height: 2rem;
    font-style: italic;
    font-weight: 200;
    border-radius: 5px 5px 0 0;
    
}

.containerLanguage {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



.containerLanguage > section  {
   width: 50%;
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 20px;
   color: #0D9488;
   font-style: oblique;
   font-weight: 100;
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.containerLanguage > section > img  {
   width: 3rem;
}
/* contenedor Referencias */

.containerInfoReferneces{
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
    gap: 30px;
    background-image: linear-gradient(to right, #828fa9, #869fc6, #86b0c6);
    
}
.containerReferences{
    width: 40%;
    height: 200px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #020617;
    background-image: linear-gradient(to top, #6badef , #b2ebf3, #88ccb7);
}
 .titleReferences{
    width: 50%;
    text-align: center;
     font-weight: 200;
    font-style: italic;
     font-size: 2em;
    border-bottom: 6px double #0E7490;    
}
.fatherReferences{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
        
}
.containerReferences img{
    width: 40%;
}
.containerReferences >.containerData{
    color: #000000;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}
.fatherHabilidades{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.containerHabilidades{
    width: 80%;
}
.containerHabilidades ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style:none;
}
.containerHabilidades ul li img{
    width: 90px;
}